* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  align-items: center;
  display: grid;
  justify-content: center;
}
.carousel__list {
  align-items: center;
  display: grid;
  grid-row-gap: 1.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  max-width: 40rem;
  overflow: hidden;
  padding: 1rem 1rem 1rem 1rem;
  list-style-type: none;
}
.carousel__item {
  grid-column: 1;
  grid-row: 1;
  line-height: 1.2;
  text-align: center;
  transition: transform 0.2s;
}
.carousel__item.active {
  transform: translateX(0);
}
.carousel__item.left {
  transform: translateX(-200%);
}
.carousel__item.right {
  transform: translateX(200%);
}
.carousel__indicator {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 2;
  justify-self: center;
}
[data-bs-theme='light'] {
  --color-carousel-dot: white;
  --color-carousel-dot-inverse: #696A6B;
}

[data-bs-theme='dark'] {
  --color-carousel-dot: #696A6B;
  --color-carousel-dot-inverse: #ADB5BD;
}
.carousel__dot {
  background-color: var(--color-carousel-dot);
  border-radius: 50%;
  border: 0.0625rem solid var(--color-carousel-dot-inverse);
  display: block;
  height: 0.5rem;
  width: 0.5rem;
}
.carousel__dot.active {
  background-color: var(--color-carousel-dot-inverse);
}
.carousel__citation {
  display: block;
  font-size: 0.875rem;
  font-style: normal;
}
.carousel__name {
  display: block;
  font-style: normal;
  font-weight: 600;
}
.carousel__quote {
  font-style: italic;
  line-height: 1.5;
}
